@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: Metal Mania;
  margin: 0;
}

body {
  background-color: #000;
  user-select: none;
}

.monster-navbar {
  width: 100%;
  background: linear-gradient(90deg, #000000, #111111, #000000);
  border-bottom: 2px solid #ffffff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  padding: 0.75rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: row;
}

.monster-logo a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 3rem;
}

.navbar-logo {
  position: absolute;
  left: 4px;
  top: 4px;
  height: 3rem;
  filter: invert();
}

.monster-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.monster-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s;
}

.monster-links svg {
  display: none;
}

.monster-links a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #ffffff;
}

.monster-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background: #ffffff;
  transition: 0.3s;
  box-shadow: 0 0 10px #ffffff;
}

.monster-links a:hover::after {
  width: 100%;
}

@media (max-width: 850px) {
  .monster-links span,
  .monster-logo span {
    display: none;
  }

  .monster-logo a {
    margin-left: 1rem;
  }

  .monster-links svg {
    display: initial;
    color: #fff;
    height: 20px;
  }
}